*.DS_Store
*~
*.sql
*.log
node_modules

#Sample output files
src/examples/data/employees_output.csv
src/examples/data/employees_output.json
build/examples/data/employees_output.csv
build/examples/data/employees_output.json

#Config files (probably have sensitive data)
src/plugins/config/*
build/plugins/config/*
