*.DS_Store
*~
*.sql
*.log
node_modules
#src/plugins/config/default.json
#build/plugins/config/default.json
src/examples/data/users_output.csv
src/examples/data/users_output.json
build/examples/data/users_output.csv
build/examples/data/users_output.json
